src/main/resources/currency.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<!-- currency.CurrencyRequester Schema Generated from currency.CurrencyRequester Document on Fri Sep 04 2020 23:58:06 GMT+0300 (Москва, стандартное время) -->
<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
<!-- данные получены с помощью запроса:  http://www.cbr.ru/scripts/XML_daily.asp?date_req=06/09/2020 -->
<xs:element name="ValCurs">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="Valute" minOccurs="34" maxOccurs="34">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="NumCode" type="xs:int" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="CharCode" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="Nominal" type="xs:int" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
                        <xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
                    </xs:sequence>
                    <xs:attribute name="ID" type="xs:string"></xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Date" type="xs:string"></xs:attribute>
        <xs:attribute name="name" type="xs:string"></xs:attribute>
    </xs:complexType>
</xs:element>
</xs:schema>